<div>
  <div class="statusbar" [style.--statusBarHeight]="statusBarHeight">
    <p class="bar-element">Next: {{ gService.getNext() }}</p>
    <button class="btn btn-red" (click)="onClick()">{{ gService.isStarted() ? 'Break' : 'Start' }}</button>
    <p class="bar-element">Time: {{ (gService.time / 10) | number : '1.1-1' }}</p>
  </div>
  <hr>
  <div class="schulte-table container" [style.--width]="tableWidth" [style.--height]="tableHeight">
    <app-table-cell
      *ngFor="let cell of gService.tableCells"
      [cell]="cell"
    ></app-table-cell>
  </div>
</div>
