.cell {
  background: skyblue;
  height: 100%;
  width: 100%;
  ////display: flex;
  ////justify-content: center;
  //align-content: center;
  ////flex-direction: column;
  //font-weight: bold;
  font-size: 2rem;
  border: none;
}

.red {
  background: red;
}

.grey {
  background: lightgray;
}
