.stat-element {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 4fr 1fr;
  align-items: center;
  height: 100%;
}

.stat-title {
  font-weight: bold;
  font-size: 100%;

  width: 100%;
  text-align: left;
}

.stat-score {
  font-weight: bold;
  font-size: 125%;
}

.stat-circle {
  border: 6px double lightseagreen;
  border-radius: 15%;

  height: calc(var(--f) * 0.90);

  width: 100%;

  display: grid;
  align-items: center;
}
