.bar-element {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  border: 2px solid grey;
  border-right: none;
  border-left: none;

  height: 100%;
}

.bar-score {
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 3%;
}

.bar-title {
  margin-top: 3%;
  font-size: 75%;
}
