.chart {
}

.container {
  display: grid;
  grid-template-rows: var(--stat_height) var(--stat_height) auto;
  grid-gap: 5px;
  width: var(--width);
  height: var(--height);
}

.stat {
  border: 1px dashed grey;
  //margin: 4px;
}


