.refresh {
  position: absolute;
  right: 15px;
  //font-weight: bold;
  font-size: smaller;
  color: whitesmoke;
  transform: rotate(111deg);

  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: lightgreen;
  }

  &:active {
    background: none;
  }

  background: none;

  // https://protocoder.ru/css/strokeTextGen
  text-shadow:
    -0   -1px 1px #000000,
    0   -1px 1px #000000,
    -0    1px 1px #000000,
    0    1px 1px #000000,
    -1px -0   1px #000000,
    1px -0   1px #000000,
    -1px  0   1px #000000,
    1px  0   1px #000000,
    -1px -1px 1px #000000,
    1px -1px 1px #000000,
    -1px  1px 1px #000000,
    1px  1px 1px #000000,
    -1px -1px 1px #000000,
    1px -1px 1px #000000,
    -1px  1px 1px #000000,
    1px  1px 1px #000000;
}

