<div class="main no-select">
  <div class="title">
    Schulte table
    <span class="refresh no-select" *ngIf="gService.isStarted()" (click)="refresh()">
<!--      &#10227;-->
      &#8635;
    </span>
  </div>

  <div class="statusbar" *ngIf="gService.isStarted(); else altStatusBar">
    <app-bar-element title="Next" [value]="gService.getNext()"></app-bar-element>
    <button class="btn btn-red" (click)="onClick()">{{ gService.isStarted() ? 'Stop' : 'Start' }}</button>
    <app-bar-element title="Time" [value]="(gService.time / 10) | number : '1.1-1'"></app-bar-element>
  </div>

  <div></div>

  <div class="container">
    <app-schulte-table *ngIf="gService.isStarted() || (gService.getLastResult() == 0); else statistics"></app-schulte-table>
  </div>

  <ng-template #statistics>
<!--    <app-statistics></app-statistics>-->
    <app-estatistics></app-estatistics>
  </ng-template>

  <ng-template #altStatusBar>
    <div class="statusbar">
      <app-bar-element title="Last result" [value]="(gService.getLastResult()) | number : '1.1-1'"></app-bar-element>
      <button class="btn" (click)="onClick()">Start new game</button>
      <app-bar-element title="Best time" [value]="(gService.getBestTime()) | number : '1.1-1'"></app-bar-element>
    </div>
  </ng-template>
</div>

