@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --nf: 12;
  --f: min(calc(96vmin / (var(--nf) - 2)), calc(96vh / var(--nf)));
  --tHeight: calc(var(--nf) * var(--f));
  --tWidth: calc(var(--tHeight) - 2 * var(--f));
}

* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: absolute;
  top: 50%;
  margin-top: calc((-1) * var(--tHeight) / 2);

  width: var(--tWidth);
  height: var(--tHeight);

  margin-left: auto;
  margin-right: auto;

  display: grid;
  //grid-auto-rows: 1fr 1fr calc((var(--nf) - 2) * var(--f));
  grid-auto-rows: var(--f) var(--f) 5px auto; // calc((var(--nf) - 2) * var(--f));
}

.btn {
  background: skyblue;
  font-size: medium;
  font-weight: bold;
  height: 100%;

  border: 2px solid grey;
  border-right: none;
  border-left: none;
}

.btn-red {
  background: salmon;
}

.statusbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  height: 100%;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: x-large;
  font-weight: bold;
}

.bar-element {
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: medium;

  border: 2px solid grey;
  border-right: none;
  border-left: none;
}

.dashed {
  border: 1px dashed grey;
}
