@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  //padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0px;
  border: none;
  //color: skyblue;
  background: skyblue;
  //display: inline-block;
  /*
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    background: var(--light-color);
    color: #111;
  }
  */
}

.btn-red {
  background: salmon;
}

hr {
  margin-top: 3px;
  margin-bottom: 3px;
  border: none;
  border-bottom: 2px solid gray;
}

.statusbar {
  //display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: stretch;
  min-height: var(--statusBarHeight);
}

.bar-element {
  height: 100%;
  display: flex;
  justify-content: center;
  //align-content: center;
  flex-direction: column;
  //font-weight: bold;
  font-size: 1.2rem;
}
